<div class="container">
    <h1>About KeyPiece™</h1>
    <p>KeyPiece is a place where you can build and distribute your ideas. Built on the open source engine Oak Studio,
        KeyPiece is an online browser based multiplayer adventure game, with an endless amount of open world content,
        unique
        and challenging enemies, a large cast of characters, and dynamic quests. KeyPiece is developed and published by
        OakFrame in Dallas, TX.<br/><br/>KeyPiece features an active and growing fan community that creates custom
        worlds,
        mods, and maps using OakFrame's internal tools. It is a game for the ages and an amazing online sandbox that can
        be
        played online and off. KeyPiece is free to play, with tons of great exclusive content available through an
        extremely
        affordable monthly subscription.</p>

    <h2>Roadmap</h2>
    <p>
    <ul class="table-list">
        <li>
            <span class="btn hover">September 2021</span> <h4 style="display: inline-block;">PaintBrush Beta</h4> <small>Create or modify artworks, sprites, text, and images.</small>
        </li>
        <li>
            <span class="btn disabled">December 2021</span> <h4 style="display: inline-block;">Interactive Beta</h4> <small>Play and adventure in brand new stories and experiences!</small>
        </li>
        <li>
            <span class="btn disabled">December 2021</span> <h4 style="display: inline-block;">World Builder Beta</h4> <small>Build experiences using an interactive and visual room editor.</small>
        </li>
        <li>
            <span class="btn disabled">February 2022</span> <h4 style="display: inline-block;">Multi-Play Beta</h4> <small>Play in tons of worlds with your friends!</small>
        </li>
    </ul>

    </p>


    <h2>Press Kit</h2>
    <p>We encourage the use and distribution of our marketing materials as supporting content in your wholly owned and
        created content, so long as that content adheres to our Privacy Policy and Terms of Service. </p>
</div>
