<div class="container ">
    <h1><span id="display" class="text-center"><i class="fa-solid fa-sync fa-fw" id=""></i></span> Audio Input</h1>

    <div id="listener"></div>
    <div id="voicebox"></div>

</div>
