<div class="hero flex">
    <div class="container scroll-many" style="padding: 7em 0;">
        <div class="container scroll-container">
            <h1 class="display-1">Oak<sup>TM</sup></h1>
            <p>
                <a class="btn disabled hover" href="#panel-2">The framework for people who code.</a>
            </p>
            <img class="glyph i right" src="/asset/pattern/sq-ornate01.png">
            <p>
                Embrace the turmoil caused by evil from before the forming of civilizations, as we place upon your hands
                a chisel towards the future.<br/><br/>
                Adventure and glory await, where you and your friends will become discoverers, legends, and beholders of
                realms in this ancient MMORPG.
            </p>
            <p><a href="/play">
                    <button class="primary"><i class="fa-solid fa-fw fa-scroll"></i> Select Character</button>
                </a>
            </p>
        </div>


        <div class="container scroll-container">

            <h1><span class="dropcap">A</span>gainst all odds</h1>

            <p>The balance of power is shifting and more vessels are required to hold the grip of darkness at bay.</p>
            <p>
            <ul class="table-list" style="overflow: visible;">
                <li><i class="fa fa-fw fa-skull-crossbones" aria-hidden="true"></i> <strong>180,764</strong> Souls
                    Consumed
                </li>
                <li><i class="fa fa-fw fa-map" aria-hidden="true"></i> <strong>45%</strong> World Explored</li>
                <li><i class="fa fa-fw fa-place-of-worship" aria-hidden="true"></i> <strong>187</strong> Cities</li>
            </ul>
            </p>
            <p>
                Another wave of evil returns shortly.
                <br/>Prepare yourself.
            </p>

        </div>

        <div class="container scroll-container">

            <h1><span class="dropcap">H</span>ow to Play</h1>

            <p>Agree and a soul will be bound for you to interact with the Tome.</p>
            <h4><strong>i. Action per Turn</strong></h4>
            <small>Every turn you may make 1 action if you are not
                blocked.</small>
            <h4><strong>ii. Some Actions take longer than 1 Turn</strong></h4>
            <small>Some actions will block new
                actions during your turn until it is complete.</small>
            <h4><strong>iii. Build and spread your Faction.</strong></h4>
            <small>Controls entire worlds and their resources.</small>

            <p><br />
                <a href="/login">
                    <button class="primary"><i class="fa-solid fa-fw fa-scroll"></i> Sign Up</button>
                </a>
            </p>
        </div>

        <div class="container scroll-container">

            <h1><span class="dropcap">E</span>ngaging Forcefully</h1>
            <p>Dangers await.</p>
            <h2><i class="fa fa-fw fa-chess-knight" aria-hidden="true"></i> <strong>Melee</strong></h2>

            <h2><i class="fa fa-fw fa-crosshairs" aria-hidden="true"></i> <strong>Range</strong></h2>

            <h2><i class="fa fa-fw fa-hat-wizard" aria-hidden="true"></i> <strong>Mage</strong></h2>



        </div>

        <div class="container scroll-container">

            <h1><span class="dropcap">S</span>killing Mastery</h1>
            <p>
                Acquiring skills will help you on your journey.

            <div style="column-count: 2">
            <h4 style="padding-top: 0;"><i class="fa fa-fw fa-chess-knight"
                   aria-hidden="true"></i> <strong>Alchemy</strong></h4>
            <h4 style="padding-top: 0;"><i class="fa fa-fw fa-chess-knight" aria-hidden="true"></i> <strong>Smithing</strong></h4>
            <h4 style="padding-top: 0;"><i class="fa fa-fw fa-chess-knight" aria-hidden="true"></i> <strong>Mining</strong></h4>
            <h4 style="padding-top: 0;"><i class="fa fa-fw fa-chess-knight" aria-hidden="true"></i> <strong>Woodcutting</strong></h4>
            <h4 style="padding-top: 0;"><i class="fa fa-fw fa-chess-knight" aria-hidden="true"></i> <strong>Fletching</strong></h4>
            <h4 style="padding-top: 0;"><i class="fa fa-fw fa-chess-knight" aria-hidden="true"></i> <strong>Fishing</strong></h4>
            <h4 style="padding-top: 0;"><i class="fa fa-fw fa-chess-knight" aria-hidden="true"></i> <strong>Cooking</strong></h4>
            <h4 style="padding-top: 0;"><i class="fa fa-fw fa-chess-knight" aria-hidden="true"></i> <strong>Herbalism</strong></h4>
            <h4 style="padding-top: 0;"><i class="fa fa-fw fa-chess-knight" aria-hidden="true"></i> <strong>Crafting</strong></h4>
            <h4 style="padding-top: 0;"><i class="fa fa-fw fa-chess-knight" aria-hidden="true"></i> <strong>Prayer</strong></h4>
            </div>
            </p>

        </div>

        <div class="container scroll-container">

            <h1><span class="dropcap">M</span>embership Benefits</h1>

            <p>Bring your story to life in a vast variety of fantasy cities, dark forests, decrepit ruins, and under
                deep mountains to forever unlock the secrets hidden from ages ago holding these worlds
                together.</p>

            <p>
            <ul class="table-list" style="overflow: visible;">
                <li><i class="fa fa-fw fa-skull-crossbones" aria-hidden="true"></i> <strong>+2</strong> Character Slots</li>
                <li><i class="fa fa-fw fa-map" aria-hidden="true"></i> <strong>+2</strong> Free Maps Monthly</li>
                <li><i class="fa fa-fw fa-place-of-worship" aria-hidden="true"></i> <strong>+10</strong> Cities</li>
            </ul>
            </p>

            <p>
                <a class="btn disabled" href="/membership" disabled>Coming Soon</a><br/>
            </p>
        </div>

        <div class="container scroll-container">
            <h1><span class="dropcap">D</span>ance with Darkness</h1>
            <p>
                Bring your story to life in a vast variety of fantasy cities, dark forests, decrepit ruins, and under
                deep mountains where we shall forever unlock the secrets hidden from ages ago holding these worlds
                together.</p>
            <p><a href="/play">
                    <button class="primary"><i class="fa-solid fa-fw fa-scroll"></i> Select Character</button>
                </a>
            </p>
            <img class="glyph h" src="/asset/pattern/rect-floral01.png">

        </div>

        <div class="container scroll-container">
            <h1><span class="dropcap">A</span>ance with Darkness</h1>
            <p>
                Bring your story to life in a vast variety of fantasy cities, dark forests, decrepit ruins, and under
                deep mountains where we shall forever unlock the secrets hidden from ages ago holding these worlds
                together.</p>
            <p><a href="/play">
                    <button class="primary"><i class="fa-solid fa-fw fa-scroll"></i> Select Character</button>
                </a>
            </p>
            <img class="glyph h" src="/asset/pattern/rect-floral01.png">

        </div>

    </div>
</div>
<div class="container">
    <p>
    <p>Copyright 2021 MaaG. Built with <img draggable="false" class="emoji" alt="â¤"
                                            style="width: 1em;height:1em;top: 2px;position: relative;"
                                            src="https://s.w.org/images/core/emoji/11.2.0/svg/2764.svg"> by <a
                href="https://oakframe.org" target="_blank">OakFrame</a> in Dallas, TX</p>
</div>
