<div class="hero" style="background:#fff;">
    <div id="foreground"></div>
    <div id="shelf-items-scroll" style="width:100%;">
        <div class="flex" id="painter-canvas-container">

            <canvas class="painter_surface" id="painter_surface"></canvas>
            <canvas class="painter_cover_surface" id="painter_cover_surface"></canvas>

        </div></div>

    <div class="clr"></div>
    <div class="page-footer">
        <div class="col-12-x">
            <div class="paint-footer" id="paint-footer">

                <div class="popup col-12-x col-auto-s"><button id="undo">Undo</button><button id="save">Save</button></div>

                <div id="painter-popup" class="popup col-12-x col-auto-s">
                    <i class="" id="painter_control_size0"></i>
                    <i class="" id="painter_control_size1"></i>
                    <i class="active" id="painter_control_size2"></i>
                    <i class="" id="painter_control_size3"></i>
                    <i class="" id="painter_control_size4"></i>

                </div>

                <div id="painter-tool-0" class="tool active" ><img class="bezier" src="/asset/tool-pencil.png" width="48px"/></div>
                <div id="painter-tool-1" class="tool" ><img class="bezier" src="/asset/tool-brush.png" width="48px"/></div>
                <div id="painter-tool-2" class="tool" ><img class="bezier" src="/asset/tool-eraser.png" width="48px"/></div>

                <div id="painter-color-swatch" class="tool" ><img class="bezier" src="/asset/tool-palette.png" width="48px"/></div>
            </div>
        </div>
    </div>
</div>
