<div class="footbar safari-only" id="footbar">
    <div class="navbar-inner nav-container">
        <button class="site-title no-decoration" style="font-weight:bolder;" id="play-toggle-log">
            <div class="left"><i class="fa-solid fa-list-ol"></i><span class="hide-mobile"> Toggle</span></div>
        </button>
        <span><i class="fa-solid fa-fw fa-shield-halved"></i><span
                    class="hide-mobile"> Stats</span></span>
        <span><i class="fa-solid fa-fw fa-toolbox"></i><span
                    class="hide-mobile"> Inventory</span></span>
        <span><i class="fa-solid fa-fw fa-skull-crossbones"></i><span
                        class="hide-mobile"> Spells</span></span>
       <span><i class="fa-solid fa-fw fa-star"></i><span
                            class="hide-mobile"> Prayer</span></span>
       <span><i class="fa-solid fa-fw fa-shield-halved"></i><span
                                class="hide-mobile"> Equipment</span></span>



        <!--
        <a href="/{profile_link}" class="right" style="z-index:-3;"><i class="fa-solid fa-arrow-right"></i><span
                    class="hide-mobile"> Next</span></a>
        <a href="/{profile_link}" class="right" style="z-index:-3;"><i class="fa-solid fa-arrow-left"></i><span
                    class="hide-mobile"> Prev</span></a>
        <span class="right btn" style="z-index:-3;" id="edit-mode"><i class="fa-solid fa-fw fa-tools"></i> Edit<span
                    class="hide-mobile"> Mode</span></span> -->
    </div>
</div>
