<div class="container">

    <h3>Style Guide</h3>

    <div class="col-12-x" style="background:#fbc02d;">
        <div style="max-width: 1280px;margin: auto;padding:7em 0;">
            <h1 class="display-0 text-line line-right text-shadow" style="margin:0;">hero</h1></div>
    </div>

    <div style="max-width: 1280px;margin: auto;">
        <div class="col-12-x">

            <h1>Header h1</h1>
            <h2>Header h2</h2>
            <p>content and textual information here</p>
            <h3>Header h3</h3>
            <p>content and textual information here</p>


        </div>
    </div>

   <div style="max-width: 1280px;margin: auto;">
        <div class="col-12-x" id="fields">


        </div>
    </div>


    <h1>Introduction</h1>
    <h2>A new age platform for the awesome.</h2>
    <h3>Developed with a principal of creators and our passions.</h3>
    <p>We have developed our system in a way that can be extended.</p>
    <ul>
        <li>I am a list item</li>
        <li>in an unordered list</li>
        <li>Okay.. I'm cool with this.</li>
    </ul>
    <ol type="i">
        <li>I am a list item</li>
        <li>AND NOW HIT WITH THE ORDERED!</li>
        <li>Okay.. I'm cool with this.</li>
    </ol>
    <p><strong>Hey! I'm some strong text,</strong> you
        know what that means!?<br/><em>I'll show you what it means.. buddy..!</em></p>
    <p>
        <input type="text" placeholder="text"/><br/>
        <input type="text" class="slim" placeholder="text slim"/><br/>
        <input type="text" placeholder="disabled input with placeholder" disabled/><br/>
        <input type="password" placeholder="password"/><br/>
        <label>This is a label</label><br/>
        <input type="checkbox"/><br/>
        <input type="radio"/><br/>
        <select>
            <option>this is a select option</option>
            <option>this is a select option #2</option>
            <option>#3 my main man</option>
        </select><br/>
        <button class="primary huge">primary huge</button><button class="huge">huge</button><br/>
        <button class="primary">primary</button><button>Whoa, okay.. click me?</button><br/>
        <button disabled>Can't click me</button><br/>
        <button class="slim primary">Primary</button><button class="slim">Whoa, okay.. slim me?</button><br/>
        <button class="slim primary" disabled>dont primary slim me?</button><button class="slim" disabled>dont slim me?</button><br/>
    </p>

    <p>
    <ul class="table-list">
        <li><i class="fa fa-fw fa-bars" aria-hidden="true"></i> Eu incididunt ut ipsum enim ullamco dolor minim
            consectetur officia esse adipisicing laborum et.
        </li>
        <li><button class="slim"><i class="fa fa-fw fa-asterisk" aria-hidden="true"></i></button> Incididunt quis ut est deserunt aliqua commodo elit eu
            officia excepteur est quis consequat tempor.
        </li>
        <li>Cupidatat amet velit ad elit laboris dolore ut cupidatat.
            Proident in sit quis tempor labore voluptate culpa eu eiusmod mollit.
        </li>
    </ul>
    </p>

    <p>
        At the time, as an indie development myself, Iwould spend hours daily programming and developing a game, <span
                class="highlight">constantly running the game to check for errors andplayability.</span>
    <span class="offset float-right comment">I later learned in my software development career that this was a
        rudimentaryand primitive form of writing and validating test cases.<br><br>Read more about how software
        development changedhow I approach video games here.
    </span>
    <br>
    <br>Playtesting lost favor because it ultimately encouraged an antiquated approach to video game development, the
    "build the game you want to play" approach.
    <br> Now, to be fair, you should be making games you want to play, of course; but, therein lies the trap.
    What the saying should be is, "Make the game you want to play, sell the game they want to buy".
    <br><br>
    <span class="quote">Look, unless you are the sole target market of your game, you are not your audience and you
        cannot be the sole playtester.
    </span>
    <br>Most independent developers surely want their game to be successful. This is a continual process and not
    something that happens just as a result of merely making a game.
    Get people playing and testing and giving you feedback; and not just those people you met on that development forum.
    Get players who represent your actual customers and use their advice, frustrations and concerns to make your game
    better. Read more about this in our
    <a href="#">Doing Playtesting Right</a> article.<br>
    <br>ullamco ad eiusmod est minim nostrud eiusmod nostrud non elit. Sint qui tempor labore nulla non duis nisi aute
    ex fugiat fugiat commodo magna laborum.
    Ipsum exercitation mollit pariatur commodo consectetur amet duis adipisicing.
    <br>
    <br>Adipisicing amet eu culpa consectetur excepteur ea minim nostrud in irure elit. Minim laborum mollit tempor
    dolore voluptate dolor.
    <img src="https://oakframe.org/preview/59cde32954d5b6280146bf8d.png" class="offset float-left">
    <span class="offset float-right alt">Check out the new version of this game at https://keypeice.org!</span>
    <br><br>
    <ul>
        <li><i class="fa fa-asterisk" aria-hidden="true"></i> Eu incididunt ut ipsum enim ullamco dolor minim
            consectetur officia esse adipisicing laborum et.
        </li>
        <li><i class="fa fa-asterisk" aria-hidden="true"></i> Incididunt quis ut est deserunt aliqua commodo elit eu
            officia excepteur est quis consequat tempor.
        </li>
        <li><i class="fa fa-asterisk" aria-hidden="true"></i> Cupidatat amet velit ad elit laboris dolore ut cupidatat.
            Proident in sit quis tempor labore voluptate culpa eu eiusmod mollit.
        </li>
    </ul>
    Non cupidatat et aliqua exercitation ipsum sint proident cupidatat consequat adipisicing duis ad.
    Est et Lorem commodo eu non non nulla eiusmod pariatur aute ut. Sunt ad duis anim dolor aliquip labore laboris eiud.
    <br><br>Non elit tempor fugiat in. Commodo irure pariatur eu eiusmod sint eiusmod cupidatat.
    <div class="offset float-right comment">This was brought to our attention thanks to @jeffery
    </div>
    Deserunt officia do enim eu consectetur pariatur quis nisi incididunt velit excepteur exercitation et ex.
    </p>


</div>
