<div class="container">
    <h1><span class="dropcap">T</span>erms of Service and Conditions of Use</h1>
    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO
    THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
    TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
        SOFTWARE.</p>

    <p>This is the Terms of Service of OakFrame Interactive, our Affiliates and any companies within our group (referred
        to collectively as "OakFrame" or “Our”). It applies to all of our websites, services, intellectual properties
        and products (referred to collectively as "Website", “Materials”, ”Collective", and "Services") on which it
        appears.</p>

    <p>By using our Services, you are agreeing to be bound by these Terms of Service and Conditions of Use, all
        applicable laws and regulations, and agree that you are responsible for compliance with any applicable local
        laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The
        materials contained in this Website are protected by applicable copyright and trade mark law.</p>


    <h2>License of Use</h2>
    <p>Permission is granted to you for access to information and Services on the OakFrame Website for personal,
        non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this
        license you may not:<br><br>• Modify or copy the materials;<br>• Intentionally and/or negatively affect the
        performance of our Services;<br>• Use the materials for any commercial purpose, or for any public display
        (commercial or non-commercial);<br>• Attempt to copy, decompile, reverse engineer, or manipulate any software or
        information contained on our Website or Services;<br>• Remove any copyright or other proprietary notations from
        the materials;<br>• Transfer the materials to another person or "mirror" the materials on any other server.<br>
        <br><br> This license shall automatically terminate if you violate any of these restrictions and may be
        terminated by OakFrame at any time.</p>


    <h2>Content and Information</h2>
    <p>You own all of the content and information you provide or submit to OakFrame and our
        associated properties and Services as long as such content is under all applicable laws and regulations owned by
        you. In addition, for content that is covered by intellectual property rights, you specifically give and grant
        us the following permission: a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to
        use any IP content that you provide or submit on or in connection with OakFrame and our associated Services.</p>



    <h2>Disclaimer</h2>
    <p>The Materials and Services provided by OakFrame are provided "as is".<br>OakFrame makes
        no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without
        limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or
        non-infringement of intellectual property or other violation of rights.<br>Further, OakFrame does not warrant or
        make any representations concerning the accuracy, likely results, or reliability of the use of the Materials on
        any of its Services or otherwise relating to such materials or on any sites linked to or from this Website.</p>


    <h2>Limitations</h2>
    <p>In no event shall OakFrame, our Affiliates or Suppliers be liable for any damages (including,
        without limitation, damages for loss of data or profit, or due to business or service interruption) arising out
        of the use or inability to use the Materials provided by our Services or Website, even if OakFrame or a OakFrame
        authorized representative has been notified orally or in writing of the possibility of such damage.<br>Because
        some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential
        or incidental damages, these limitations may not apply to you. </p>

    <h2>Changes</h2>
    <p>Our Terms of Service may change from time to time. We will post any Terms of Service changes
        on this page and, if the changes are significant, we will provide a more prominent notice (including, for
        certain services, email notification of Terms of Service changes).</p>
</div>
