<small class="muted"><%= comment._owner %> @ <%= utils.timeago(comment.date) %></small>
<div class="dialog-window flex">
<div class="display-image">
    <img src="/asset/sp_blank_character.svg"/>
</div>
<div class="display-text">
    <div class="limits">
        <%= comment.body %>
    </div>
</div>
</div>
